<div class="row">
    <div class="column">
        <div class="info">
            <h3>Our Featured Products</h3>
            <p>Quisque sed quam dolor, scelerisque iaculis orci. Aenean a scelerisque enim. Sed accumsan tristique ipsum, in vestibulum nulla fermentum quis. Integer porttitor elementum est ut laoreet.</p>
        </div>
    </div>
    <div class="column">
        <a href="#">
            <div class="product">
                <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
                <h3>Product Name</h3>
            </div>
        </a>
    </div>
    <div class="column">
        <div class="product">
            <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
            <h3>Product Name</h3>
        </div>
    </div>
    <div class="column">
        <div class="product">
            <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
            <h3>Product Name</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="info">
            <h3>Our Featured Products</h3>
            <p>Quisque sed quam dolor, scelerisque iaculis orci. Aenean a scelerisque enim. Sed accumsan tristique ipsum, in vestibulum nulla fermentum quis. Integer porttitor elementum est ut laoreet.</p>
        </div>
    </div>
    <div class="column">
        <a href="#">
            <div class="product">
                <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
                <h3>Product Name</h3>
            </div>
        </a>
    </div>
    <div class="column">
        <div class="product">
            <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
            <h3>Product Name</h3>
        </div>
    </div>
    <div class="column">
        <div class="product">
            <img src="http://bambootheme.com/showcase/blankoshop/images/stories/virtuemart/product/resized/1300536311_brownwhitesneakers_200x200.jpg">
            <h3>Product Name</h3>
        </div>
    </div>
</div>

<div class="test"></div>
<div id="bob"></div>
